 

*{
    box-sizing: border-box;
}

ul{
    padding: 0px;
    margin: 0px;
}

h1, .h1{
    font-size: 25px;
}
h2, .h2{
    font-size: 22px;
}
h3, .h3{
    font-size: 20px;
}

.cp{
    cursor: pointer !important;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-success,
.badge-warning,
.badge-danger,
.badge-primary{
    border-radius: 6px;
    padding: 2px 4px;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

kbd{
   background-color: #3a3f48; 
}

.hl {
    display: inline-block;
    background: linear-gradient(0deg, #f7f7f7, #eaeaea);
    color: #474747;
    padding: 0px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.811);
    margin-bottom: 3px;
    &:has(~.hl){
        margin-right: 5px;
    }
    &.low-b{
        border-radius: 3px;
    }
    &.green{
        background: linear-gradient(0deg, #54ef54, #ffffff00);
    }
    &.yellow{
        background: linear-gradient(0deg, #f0f75f, #ffffff00);
    }
    &.cayan{
        background: linear-gradient(0deg, #2bc8c3, #ffffff00);
    }
    &.red{
        background: linear-gradient(0deg, #eb6839, #ffffff00);
    }
}

  

